#mandala + div{
  margin-top: -150px;
} 

$mandala-size: 620px;

#mandala{

  height: 780px;
  overflow: hidden;

  &.active{
    $active-mandala-size: ($mandala-size + 300);

    #orbitals{
      width: $active-mandala-size;
      // Adjust the margin to keep the mandala-box stationary
      margin: -110px 40px 0 40px;

      // And increase the padding around it
      #orbit4{
        padding: 165px;
      }
    }

    div.planets div{
      @include box-shadow(rgba(0,0,0,0.20) 0px 0px 0px 2px);
    }

    #orbit4{
      @include background(image-url('orbitals.png'),
                          inline-image('warhol.png'));
      background-size: cover;
    }

    #lines{
      @include background(image-url('orbitals.png'));
      background-size: cover;
      // -webkit-animation: rotate 10s linear infinite;
      width: $mandala-size;
      height: $mandala-size;
    }

    #mandala-box{
      img{
        opacity: 0.8;
      }
    }

    & + div{
      display: none;
    }

    #mandala-sections{
      display: inline;
    }

  }

}

#orbitals{
  width: $mandala-size;
  margin: 40px 190px 0 190px;

  @include transition-property(margin);
  @include transition-duration(2s);

  div.orbit{
    border: 1px solid #e4e4e4;
    @include border-radius(1000px);
    padding: 50px;
    position: inherit;
    margin: 0;
    width: auto !important;
    height: auto;
    box-sizing: content-box;
    float: left;
  }

  #orbit1{
    
    // @include background(linear-gradient(#eceded, #ffffff));
    border: 0;
    @include box-shadow(rgba(0,0,0,0.10) 0px -1px 0px 0px);
    overflow: hidden;
    position: auto;
  }

  #orbit4{
    @include background(
      linear-gradient(rgba(0,0,0,0.13), rgba(255,255,255,0.13)));
    @include box-shadow(rgba(0,0,0,0.13) 0px 2px 0px 0px inset,
                        white 0 2px 0 0);
    @include transition-property(padding);
    @include transition-duration(2s);
    padding: 15px;
  }

  #orbit5{
    width: ($mandala-size - 330px) !important;
    height: ($mandala-size - 330px);
    padding: 0;
    border: 0;
    background-color: #323232;
    @include background-image(
      linear-gradient(rgba(0,0,0,0.23), rgba(255,255,255,0.23)));
    // @include background(#323232,
    //   image-url('labyrinth.png'),
    //   linear-gradient(rgba(0,0,0,0.23), rgba(255,255,255,0.23)));
    @include box-shadow(rgba(0,0,0,0.59) 0px 1px 3px 2px inset);
  }

  div.planets{
    div{
      @include border-radius(14px);
      position: absolute;
    }
    #planet-energy{
      width: 14px;
      height: 14px;
      background-color: rgba(242,121,107,0.8);
      top: 69px;
      left: 69px;
    }
    #planet-movement{
      width: 11px;
      height: 11px;
      background-color: rgba(52,103,192,0.8);
      top: 437px;
      left: 437px;
    }
    #planet-awareness{
      width: 10px;
      height: 10px;
      background-color: rgba(243,193,42,0.8);
      top: 50px;
      left: 345px;
    }
    #planet-reflection{
      width: 8px;
      height: 8px;
      background-color: rgba(105,174,55,0.8);
      top: 373px;
      left: 80px;
    }
  }

}

$outer-orbital-size: 620px;
$mandala-box-size: 204px;

#mandala-center{
  width: $outer-orbital-size;
  height: $outer-orbital-size;
  margin: 117px 193px;
  position: absolute;
  top: 0;

  #mandala-box{
    width: $mandala-box-size;
    height: $mandala-box-size;
    background-color: #eb682d;
    display: block;
    margin: 207px;
    border: 1px solid #7b3e22;
    @include box-shadow(rgba(183,133,0, 0.77) 0px 0px 46px 2px);

    img{
      opacity: 0.5;
    }

    span{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 100%;
      height: 100%;
      text-transform: uppercase;
      width: inherit;
      height: inherit;
      text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
      color: white;
      font-size: 24px;
      font-weight: bold;
      position: absolute;
      margin-top: -140px;
    }
  }
}

#mandala-sections{
  width: $outer-orbital-size;
  height: $outer-orbital-size;
  // margin-top: -$outer-orbital-size;
  margin: 110px 190px;
  position: absolute;
  top: 0;
  display: none;

  a{
    width: inherit;
    height: inherit;
  }

  > div{
    position: absolute;
    width: 162px;
    height: 162px;
    background-color: rgba(0,0,0,0.25);
    @include border-radius(85px);
    @include box-shadow(rgba(0,0,0,0.30) 0px 1px 2px 1px inset,
                        rgba(255,255,255,0.20) 0px 1px 0px 0px);

    div.background{
      width: 134px;
      height: 134px;
      position: absolute;
      margin: 14px;
      @include border-radius(80px);
      @include box-shadow(rgba(0,0,0,0.15) 0px 2px 5px 5px,
                          rgba(255,255,255,0.20) 0px 1px 0px 0px inset);

      &:hover{
        -webkit-animation: pulse 1s linear infinite;
      }
    }
  }

  div.align{
    width: inherit;
    height: inherit;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
    color: white;
    font-size: 16px;
    font-weight: bold;
    pointer-events: none;
    
    span{
      display: inline-block;
      margin-top: 12px; 
    }
  }

  #section-awareness{
    top: 27px;
    left: 27px;
    div.background{
      background-color: #f3c12a
    }
  }
  #section-energy{
    top: 27px;
    right: 27px;
    div.background{
      background-color: #f2796b
    }
  }
  #section-reflection{
    right: 27px;
    bottom: 27px;
    div.background{
      background-color: #69ae37
    }
  }
  #section-movement{
    bottom: 27px;
    left: 27px;
    div.background{
      background-color: #3467c0
    }
  }
}

h2{
  margin-bottom: 45px !important;
  font-size: 24px;
  color: $bodyFontColor; 
  text-align: center;
}

#register-call-to-action{
  display: block;
  margin-bottom: 45px;

  span{
    display: inline-block;
    margin: 0 10px -2px 0;
  }
}