<li class="board-item large">
  <div class="item-nav">
    <h2 class="item-nav-header item-header-{{ category.root.slug }}">
      <a href='{% url board item.slug %}'>
        {{ item.name }}
      </a>
    </h2>
    <ul class="item-nav-links">
      <li>
        <a href="{{ item.article }}" class="item-nav-link-articles item-links-{{ category.root.slug }}">Articles</a>
      </li>
      <li>
        <a href="{% url video_category item.slug %}" class="item-nav-link-videos item-links-{{ category.root.slug }}">Videos</a>
      </li>
      <li>
        <a href="{% url shop_category item.slug %}" class="item-nav-link-shop item-links-{{ category.root.slug }}">Shop</a>
      </li>
    </ul>
  </div>
  <a href='{% url board item.slug %}'>
    <img class="item-img" src="{% if item.background %} {{ item.background.url }}{% endif %}">
  </a>
</li>
