{% load media %}

{% if item %}
  <li class="board-item board-item-link {% if size == 'large' %}large{% else %}small{% endif %} {% if 'trusted source' in item.Title|lower %}featured{% endif %}">
    <div class="item-rate">
      <ul>
        <li><a href="#" class="rate rate1" data-rate="1">&nbsp;</a></li>
        <li><a href="#" class="rate rate2" data-rate="2">&nbsp;</a></li>
        <li><a href="#" class="rate rate3" data-rate="3">&nbsp;</a></li>
        <li><a href="#" class="rate rate4" data-rate="4">&nbsp;</a></li>
        <li><a href="#" class="rate rate5" data-rate="5">&nbsp;</a></li>
      </ul>
    </div>
    <div class="item-overlay item-overlay-{{ category.root.slug }}"></div>

    <div class="item-featured-link">
      <a href="{{ item.Link }}" title='{{ item.Title }}' 
            data-width='{{ item.EmbedlyWidth|default:"80%" }}' data-height='{{ item.EmbedlyHeight|default:"80%" }}' target='_blank' class='{% if item.lightbox %}colorbox {% endif %}{% if item.iframe %}iframe {% endif %}'>
        <img class="item-featured-link-icon" src="{% media_url 'img/featured-link-icon.png' %}">
        {{ item.Title }}
      </a>
    </div>

    {% if size == 'large' %}
    <img class="item-img" src="{{ item.thumbnails.300x300 }}">
    {% else %}{% if size == 'small' %}
    <img class="item-img" src="{{ item.thumbnails.140x300 }}">
    {% else %}{% if size == 'skyscraper' %}
    <img class="item-img" src="{{ item.thumbnails.140x620 }}">
    {% endif %}{% endif %}{% endif %}
  </li>
{% endif %}