{% load media %}

<div id="popup-bg-overlay"></div>

<div id="popup-login" class="main-popup">
  <h2 class="main-popup-header">Log In</h2>
  <form id="login-form" class="main-popup-form">
    <input type="text" class="popup-form-username" placeholder="Username">
    <input type="password" class="popup-form-password" placeholder="Password">
    <input type="submit" class="btn-login" value="Log In">
  </form>
  <p class="form-info">
    Not a member yet? <a href="#" id="link-register">Register now <img src="{% media_url 'img/mini-arrow.png' %}"></a>
  </p>
</div>

<div id="popup-register" class="main-popup">
  <h2 class="main-popup-header">Register</h2>
  <form id="register-form" class="main-popup-form">
    <input type="text" class="popup-form-username" placeholder="Username">
    <input type="text" class="popup-form-email" placeholder="Email">
    <input type="password" class="popup-form-password" placeholder="Password">
    <input type="submit" class="btn-register" value="Register">
  </form>
  <p class="form-info">
    Already a member? <a href="#" id="link-login">Login now <img src="{% media_url 'img/mini-arrow.png' %}"></a>
  </p>
</div>