{% load media %}
<div id="social-btn">
  <ul>
    <li>
      <a href="#" data-social="#search" target='_blank'><img src="{% media_url 'img/btn-search.png' %}"></a>
    </li>
    <li>
      <a href="https://www.facebook.com/pages/Simply-Centered/722884644395135" data-social="#facebook" target='_blank'><img src="{% media_url 'img/btn-facebook.png' %}"></a>
    </li>
    <li>
      <a href="https://twitter.com/simplycentered" data-social="#twitter" target='_blank'><img src="{% media_url 'img/btn-twitter.png' %}"></a>
    </li>
    <li>
      <a href="#" data-social="#mail" target='_blank'><img src="{% media_url 'img/btn-mail.png' %}"></a>
    </li>
    <li>
      <a href="#" data-social="#instagram" target='_blank'><img src="{% media_url 'img/btn-instagram.png' %}"></a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UC0IBp23GriUjT6AgIdtXqAQ" data-social="#youtube" target='_blank'><img src="{% media_url 'img/btn-youtube.png' %}"></a>
    </li>
    <li>
      <a href="#" data-social="#pinterest" target='_blank'><img src="{% media_url 'img/btn-pinterest.png' %}"></a>
    </li>
  </ul>
</div>

<div id="social-btn-hover">
  <ul>
    <li>
      <form action='{% url search %}' method=post>
        {% csrf_token %}
        <input name='query' type="text" id="search">
      </form>
    </li>
    <li>
      <a href="https://www.facebook.com/pages/Simply-Centered/722884644395135" id="facebook" target='_blank'><img src="{% media_url 'img/btn-facebook-hover.png' %}"></a>
    </li>
    <li>
      <a href="https://twitter.com/simplycentered" id="twitter" target='_blank'><img src="{% media_url 'img/btn-twitter-hover.png' %}"></a>
    </li>
    <li>
      <a href="mailto:info@simplycentered.com?subject=Greeting from New Costumer&body= Hallo Simply Centered," id="mail" target='_blank'><img src="{% media_url 'img/btn-mail-hover.png' %}"></a>
    </li>
    <li>
      <a href="#" id="instagram" target='_blank'><img src="{% media_url 'img/btn-instagram-hover.png' %}"></a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UC0IBp23GriUjT6AgIdtXqAQ" id="youtube" target='_blank'><img src="{% media_url 'img/btn-youtube-hover.png' %}"></a>
    </li>
    <li>
      <a href="#" id="pinterest" target='_blank'><img src="{% media_url 'img/btn-pinterest-hover.png' %}"></a>
    </li>
  </ul>
</div>