{% load media %}
<footer id="site-footer">
  <section id="footer-links">
    <div class="footer-wrapper">
      <section class="links-group">
        <h1 class="links-title">Simply Centered</h1>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="health.html">Health</a></li>
          <li><a href="food.html">Food</a></li>
          <li><a href="lifestyle.html">Lifestyle</a></li>
          <li><a href="fitness.html">Fitness</a></li>
        </ul>
      </section>

      <section class="links-group">
        <h1 class="links-title">Trust Your Source</h1>
        <ul>
          <li><a href="#">Our Process</a></li>
          <li><a href="#">Integrity Pledge</a></li>
          <li><a href="shop.html">Market</a></li>
        </ul>
      </section>

      <section class="links-group">
        <h1 class="links-title">Connect</h1>
        <ul>
          <li><a href="mailto:info@simplycentered.com?subject=Greeting from New Costumer&body= Hallo Simply Centered, ">Email</a></li>
        </ul>
      </section>

      <section class="links-group">
        <h1 class="links-title">About Us</h1>
        <ul>
          <li><a href="#">Our Team</a></li>
        </ul>
      </section>

      <section class="links-group">
        <h1 class="links-title">Blog</h1>
        <ul>
          <li><a href="#">Elaine Gavalas</a></li>
          <li><a href="#">Homesteader</a></li>
          <li><a href="#">Off the Grid</a></li>
          <li><a href="#">Cloister Code</a></li>
          <li><a href="#">Simply Centered</a></li>
        </ul>
      </section>

      <section class="links-group">
        <h1 class="links-title">Market</h1>
        <ul>
          <li><a href="#">Art</a></li>
          <li><a href="#">Books</a></li>
          <li><a href="#">Fitness</a></li>
          <li><a href="#">Food</a></li>
          <li><a href="#">Gift Ideas</a></li>
          <li><a href="#">Health</a></li>
          <li><a href="#">Life Style</a></li>
        </ul>
      </section>

      <section class="links-group">
        <h1 class="links-title">Join</h1>
        <ul>
          <li><a href="#">Login</a></li>
          <li><a href="#">Join Us</a></li>
        </ul>
      </section>
    </div>
  </section>
  <section id="footer-info">
    <div class="footer-wrapper">
      <ul id="footer-menu">
        <li>&copy; 2012 Simply Connected</li>
        <li><a href="#">Site Map</a></li>
        <li><a href="#">Privacy and Security</a></li>
        <li><a href="#">Legal</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Site Map</a></li>
      </ul>
      <ul id="footer-social">
        <li><a href="#" class="social-btn"><img src="{% media_url 'img/footer-twitter.png' %}"></a></li>
        <li><a href="#" class="social-btn"><img src="{% media_url 'img/footer-facebook.png' %}"></a></li>
        <li><a href="#" class="social-btn"><img src="{% media_url 'img/footer-pinterest.png' %}"></a></li>
      </ul>
    </div>
  </section>
</footer>