<!-- The footer, stuck to the bottom of the page -->
<footer id='footer'>
  <section class='row' id='info'>
    <div class='three columns'>
      <h4>Simply Centered</h4>
      <ul>
        <li>
          <a href='{% url index %}'>Home</a>
        </li><li>
          <a href='http://7gportal.com/blog/7gportal/knowledge/'>Knowledge</a>
        </li><li>
          <a href='{% url board slug='movement' %}'>Movement</a>
        </li><li>
          <a href='{% url board slug='transformation' %}'>Transformation</a>
        </li><li>
          <a href='{% url board slug='energy' %}'>Energy</a>
        </li>
      </ul>
    </div>
    <div class='three columns'>
      <h4>Shop Simply Centered</h4>
      <ul>
        <li>
          <a href='#'>Home</a>
        </li><li>
          <a href='#'>Blog</a>
        </li>
      </ul>
    </div>
    <div class='two columns'>
      <h4>Connect</h4>
      <ul>
        <li>
          <a href='#'>Email</a>
        </li><li>
          <a href='#'>Blog</a>
        </li>
      </ul>
    </div>
    <div class='two columns'>
      <h4>About Us</h4>
      <ul>
        <li>
          <a href='#'>Our Team</a>
        </li>
      </ul>
    </div>
    <div class='two columns'>
      <h4>Join</h4>
      <ul>
        <li>
          <a href='#'>Login</a>
        </li><li>
          <a href='#'>Signup</a>
        </li>
      </ul>
    </div>
  </section>
  <div id='copyright'>
    <section class='row'>
      <span class='1 column'>&copy; 2013 Simply Centered</span>
      <ul class='10 columns'>

      </ul>
      <ul class='1 columns right' id='social'>
        <li>
          <a href='http://facebook.com' title='Simply Connecteds facebook page' class='icons-facebook'></a>
        </li><li>
          <a href='http://twitter.com' title='Simply Connecteds twitter' class='icons-twitter'></a>
        </li><li>
          <a href='http://pintrest.com' title='Simply Connecteds pintrest' class='icons-pintrest'></a>
        </li>
      </ul>
    </section>
  </div>
</footer>