<header class="top-bar">
  <a href='{% url index %}' id='logo'>
    <h1>Simply Centered</h1>
    <sub>Links for Living</sub>
  </a>
  <div class='row'>
    <div id='slogan' class='twelve columns'>
      <h3>Links Natural Alternative Knowledge and Solutions. <br />Activates Change for Better Living.</h3>
    </div>
  </div>
  <!-- Main site navigation -->
  <nav>
    <ul>
      <li>
        <a href='collection.html'>
          Blogs
        </a>
        <a href='collection.html'>
          LiveSC
        </a>
      </li>
      <li>
        <div id='login' class='right'>
          <!--<button>Login</button>
          <small>or</small>-->
          <button class='button'><i class='icons-fist'></i>Join</button>
        </div>
        <a href='collection.html'>
          Login
        </a>
      </li>  
    </ul>
  </nav>
</header>