<header class="top-bar">
  <a href='index.html' id='logo'>
    <h1>Simply Centered</h1>
    <sub>Links for Living</sub>
  </a>
  <!-- Main site navigation -->
  <nav class='row'>
    <div id='login' class='right'>
      <!--<button>Login</button>
      <small>or</small>-->
      <button class='button'><i class='icons-fist'></i>Join</button>
    </div>
    <ul class='right 4 columns'>
      <li class='column'>
        <a href='collection.html'>
          Blogs
        </a>
      </li>
      <li class='column'>
        <a href='collection.html'>
          LiveSC
        </a>
      </li>
      <li class='column'>
        <a href='collection.html'>
          Login
        </a>
      </li>
    </ul>
  </nav>
</header>