{% load media %}
<div id="social-btn">
  <ul>
    <li>
      <a href="#" data-social="#search"><img src="{% media_url 'img/btn-search.png' %}"></a>
    </li>
    <li>
      <a href="#" data-social="#facebook"><img src="{% media_url 'img/btn-facebook.png' %}"></a>
    </li>
    <li>
      <a href="#" data-social="#twitter"><img src="{% media_url 'img/btn-twitter.png' %}"></a>
    </li>
    <li>
      <a href="#" data-social="#mail"><img src="{% media_url 'img/btn-mail.png' %}"></a>
    </li>
    <li>
      <a href="#" data-social="#instagram"><img src="{% media_url 'img/btn-instagram.png' %}"></a>
    </li>
    <li>
      <a href="#" data-social="#youtube"><img src="{% media_url 'img/btn-youtube.png' %}"></a>
    </li>
    <li>
      <a href="#" data-social="#pinterest"><img src="{% media_url 'img/btn-pinterest.png' %}"></a>
    </li>
  </ul>
</div>

<div id="social-btn-hover">
  <ul>
    <li>
      <input type="text" id="search">
    </li>
    <li>
      <a href="#" id="facebook"><img src="{% media_url 'img/btn-facebook-hover.png' %}"></a>
    </li>
    <li>
      <a href="#" id="twitter"><img src="{% media_url 'img/btn-twitter-hover.png' %}"></a>
    </li>
    <li>
      <a href="mailto:info@simplycentered.com?subject=Greeting from New Costumer&body= Hallo Simply Centered," id="mail"><img src="{% media_url 'img/btn-mail-hover.png' %}"></a>
    </li>
    <li>
      <a href="#" id="instagram"><img src="{% media_url 'img/btn-instagram-hover.png' %}"></a>
    </li>
    <li>
      <a href="#" id="youtube"><img src="{% media_url 'img/btn-youtube-hover.png' %}"></a>
    </li>
    <li>
      <a href="#" id="pinterest"><img src="{% media_url 'img/btn-pinterest-hover.png' %}"></a>
    </li>
  </ul>
</div>