{% extends 'main/_base.html' %}

{% load media %}

{% block headExtra %}
  {% include_media 'board.css' %}
  {% include_media 'board.js' %}
{% endblock %}

{% block content %}
<section id="board-container">
  <div class="row board-title-{{slugs|first}}" id="board-header">
    <div id="board-breadcumb" class="breadcumb-{{slugs|first}}">
      <a href="#">{{names|last}}</a>
    </div>
    <h1 id="board-title">{{names|last}}</h1>
  </div>
  <div class="row content">
    <script type='text/javascript' id='spling-script'>
      window.SPLING_URL = 'http://spling.com/widget/user/NewSimplyCentered/splingboards/{{slugs|last}}';
    </script>
    <script type="text/javascript" src="http://spling.com/s/g/widget.js"></script>
  </div>
</section>
{% endblock %}