{% extends 'main/_base.html' %}

{% load media %}

{% block headExtra %}
  {% include_media 'index.css' %}
  {% include_media 'index.js' %}
{% endblock %}

{% block content %}
<section id="facet-container">
  <div id="mandala">
    <ul>
      <li onclick="location.href='{% url board 'beauty'%}';" class="pie-health" data-facet="#facet-health"><a href="#">Beauty</a></li>
      <li onclick="location.href='{% url board 'natural-health'%}';" class="pie-health" data-facet="#facet-health"><a href="#">Natural Health</a></li>
      <li onclick="location.href='{% url board 'cooking'%}" class="pie-food" data-facet="#facet-food"><a href="#">Cooking</a></li>
      <li onclick="location.href='{% url board 'healthy-diets'%}" class="pie-food" data-facet="#facet-food"><a href="#">Healthy Diets</a></li>
      <li onclick="location.href='{% url board 'culture'%}" class="pie-lifestyle" data-facet="#facet-lifestyle"><a href="#">Culture</a></li>
      <li onclick="location.href='{% url board 'lifestyle'%}" class="pie-lifestyle" data-facet="#facet-lifestyle"><a href="#">Green</a></li>
      <li onclick="location.href='{% url board 'mindful-fitness'%}" class="pie-fitness" data-facet="#facet-fitness"><a href="#">Mindful Fitness</a></li>
      <li onclick="location.href='{% url board 'optimum-body'%}" class="pie-fitness" data-facet="#facet-fitness"><a href="#">Optimum Body</a></li>
    </ul>
  </div>

  <div id="mandala-border"></div>
  <div id="mandala-bg"></div>

  <div id="carousel-bg">
    <h1 class="carousel-heading">Simply Centered</h1>
    <div>
      <div id="carousel-shadow"></div>
      <img class="carousel-img" src="{% media_url 'img/carousel-4.jpg' %}">
      <h2 class="carousel-subheading">"Healthy Living Fall"</h2>
    </div>
  </div>

  <div id="facet-health" class="facet-btn" data-pie=".pie-health">
    <a href="{% url board 'health'%}">Health</a>
    <img class="icon-big" src="{% media_url 'img/facet-health-big-icon.png' %}">
  </div>
  <div id="facet-health-shadow" class="facet-shadow"></div>

  <div id="facet-food" class="facet-btn" data-pie=".pie-food">
    <a href="{% url board 'food'%}">Food</a>
    <img class="icon-big" src="{% media_url 'img/facet-food-big-icon.png' %}">
  </div>
  <div id="facet-food-shadow" class="facet-shadow"></div>

  <div id="facet-lifestyle" class="facet-btn" data-pie=".pie-lifestyle">
    <a href="{% url board 'lifestyle'%}">Lifestyle</a>
    <img class="icon-big" src="{% media_url 'img/facet-lifestyle-big-icon.png' %}">
  </div>
  <div id="facet-lifestyle-shadow" class="facet-shadow"></div>

  <div id="facet-fitness" class="facet-btn" data-pie=".pie-fitness">
    <a href="{% url board 'fitness'%}">Fitness</a>
    <img class="icon-big" src="{% media_url 'img/facet-fitness-big-icon.png' %}">
  </div>
  <div id="facet-fitness-shadow" class="facet-shadow"></div>

  <div id="twitter-stream">
    <a href="#" id="follow-btn"></a>
    <ul id="tweets">
      <li>
        We just write new article! Check this out <a href="#">http://sc.ly/HlSmR</a>
      </li>
      <li>
        We’re featured on <a href="#">http://www.bbc.com</a>  website yesterday!
      </li>
      <li>
        <a href="#">@Mark</a> yes you can visit our site and check the fitness category for more stuff!”
      </li>
    </ul>
  </div>
</section>
{% endblock %}