#board-container {
	width: 960px;
	margin: 30px auto;
	margin-bottom: 100px;
}

#board-container .row {
	display: block;
	width: 100%;
	margin: 0 0 12px 0;
	padding: 0;
}

#board-container .row.content {
	min-height: 300px;
}

/*************************************************************************************************\

\*************************************************************************************************/

#board-header {
	position: relative;
	text-align: center;
	height: 42px;
	margin: 0;
	padding: 0;

	border-radius: 3px;
}

#board-title {
	font-family: "Futura", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: .1em;	
	line-height: 42px;
	color: #fff;
	display: inline;

	text-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
}

/*===============================================================================================*/

#board-breadcumb {
	position: absolute;
	left: 17px;
	font-family: 'Cabin', sans-serif;
	font-size: 13px;

	letter-spacing: .05em;
	line-height: 42px;
	display: inline;
}

#board-breadcumb a:after {
	content: " >";
}

#board-breadcumb a:link, #board-breadcumb a:visited {
	color: #fff;
}

#board-breadcumb a:hover, #board-breadcumb a:active {
	color: #fff;
}

/*************************************************************************************************\

\*************************************************************************************************/

.board-items {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.board-item {
	position: relative;
	text-align: center;
	display: block;
	float: left;
	height: 100%;
	margin: 0 10px 0 0;
	padding: 0;
	background-color: #cecece;
	overflow: hidden;

	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .3);
	border-radius: 2px;
}

.board-item:last-child {
	margin: 0;
}

.board-items:last-child {
	margin: 0;
}

.board-item.small {
	width: 142px;
}

.board-item.large {
	width: 284px;
}

/*===============================================================================================*/
.board-item-link {
	cursor: pointer;
}

.item-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ff0000;
	opacity: 0.7;
	z-index: 2;
}

.item-featured-link {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 5;
}

.small .item-featured-link-icon {
	display: block;
	margin: 130px 51px 0 51px;
}

.large .item-featured-link-icon {
	display: block;
	margin: 130px 122px 0 122px;
}

.item-featured-link a {
	font-size: 16px;
	font-weight: 600;
}

.item-featured-link a:link, .item-featured-link a:visited {
	color: #fff;
}

.item-featured-link a:hover, .item-featured-link a:active {
	color: #fff;
}

/*===============================================================================================*/

.item-img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

/*===============================================================================================*/

.item-nav {
	position: absolute;
	bottom: 0;
	text-align: left;
	z-index: 2;
}

.item-nav-header {
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	font-weight: 200;
	letter-spacing: .05em;	
	color: white;	
	line-height: 32px;
	margin: 0 0 0 0;
	padding: 0 0 0 10px;
	height: 32px;
	/*background-color: #eebb22;*/
	background-color:  rgba(238,187,34,.7);
}

/*===============================================================================================*/

.item-nav-links {
	text-align: center;
	margin: 0;
	padding: 0;
	list-style: none;

	opacity: 0.9;
}

.item-nav-links li {
	display: inline-block;
	float: left;
}

.item-nav-links li a {
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	font-weight: 900;
	/*opacity: .8;*/

	display: block;
	line-height: 32px;
	/*width: 107px;*/
	height: 32px;

	width: 94px;

	/*padding-left: 3px;*/
}

.item-nav-links li:last-child a {
	border-right: none;
}

.item-nav-links li a:link, .item-nav-links li a:visited {
	color: rgba(0, 0, 0, 0.8);
}

.item-nav-links li a:hover, .item-nav-links li a:active {
	color: #fff;
}

/*===============================================================================================*/

.item-nav-link-articles {
	/*background-image: url(../img/item-articles-hover.png);*/
	background-repeat: no-repeat;
	/*background-position: 22px 8px;*/
	/*text-indent: 18px;*/
	
	background-position: 15px 8px;
	text-indent: 20px;
}

.item-nav-link-videos {
	/*background-image: url(../img/item-movies-hover.png);*/
	background-repeat: no-repeat;
	/*background-position: 22px 8px;*/
	/*text-indent: 18px;*/

	background-position: 15px 8px;
	text-indent: 20px;
}

.item-nav-link-shop {
	/*background-image: url(../img/item-shop-hover.png);*/
	background-repeat: no-repeat;
	/*background-position: 22px 8px;*/
	/*text-indent: 18px;*/

	background-position: 15px 8px;
	text-indent: 20px;
	
}

/* Health */

.item-nav-link-articles.item-links-health {
	background-image: url(../img/icon-articles-health.png);
}

.item-nav-link-videos.item-links-health {
	background-image: url(../img/icon-videos-health.png);
}

.item-nav-link-shop.item-links-health {
	background-image: url(../img/icon-shop-health.png);
}

/* Food */

.item-nav-link-articles.item-links-food {
	background-image: url(../img/icon-articles-food.png);
}

.item-nav-link-videos.item-links-food {
	background-image: url(../img/icon-videos-food.png);
}

.item-nav-link-shop.item-links-food {
	background-image: url(../img/icon-shop-food.png);
}

/* Lifestyle */

.item-nav-link-articles.item-links-lifestyle {
	background-image: url(../img/icon-articles-lifestyle.png);
}

.item-nav-link-videos.item-links-lifestyle {
	background-image: url(../img/icon-videos-lifestyle.png);
}

.item-nav-link-shop.item-links-lifestyle {
	background-image: url(../img/icon-shop-lifestyle.png);
}

/* Fitness */

.item-nav-link-articles.item-links-fitness {
	background-image: url(../img/icon-articles-fitness.png);
}

.item-nav-link-videos.item-links-fitness {
	background-image: url(../img/icon-videos-fitness.png);
}

.item-nav-link-shop.item-links-fitness {
	background-image: url(../img/icon-shop-fitness.png);
}

/* Hover */

.item-nav-link-articles:hover, .item-nav-link-articles:active {
	background-image: url(../img/item-articles.png);
}

.item-nav-link-videos:hover, .item-nav-link-videos:active {
	background-image: url(../img/item-movies.png);
}

.item-nav-link-shop:hover, .item-nav-link-shop:active {
	background-image: url(../img/item-shop.png);
}

/*===============================================================================================*/

/*************************************************************************************************\

\*************************************************************************************************/

.item-rate {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	z-index: 6;
}

.item-rate ul {
	margin: 0;
	padding: 4px 15px;
	list-style: none;
}

.item-rate ul li {
	display: inline-block;
}

.item-rate ul li a {
	display: block;
	width: 13px;
	height: 13px;
	margin: 0 1px;
	background-image: url(../img/rate.png);
}

.item-rate li:hover a, .item-rate li a.active {
	background-image: url(../img/rate-hover.png);
}

/*************************************************************************************************\

\*************************************************************************************************/



/*===============================================================================================*/


/*************************************************************************************************\

\*************************************************************************************************/

.board-title-health {
	background-color: #eebb22;
}

.item-header-health {
	/*background-color: #eebb22;*/
	border-bottom: 1px solid rgba(128,100,18,.30);

	background-color: rgba(238,187,34,.7);
}

.item-links-health {
	background-color: #eebb22;
	border-right: 1px solid rgba(128,100,18,.30);
}

.item-overlay-health {
	background-color: #eebb22;
}

/*===============================================================================================*/

.board-title-food {
	background-color: #ec8579;
}

.item-header-food {
	/*background-color: #ec8579;*/
	border-bottom: 1px solid rgba(174,91,82,.30);

	background-color: rgba(236,133,121,.7);
}

.item-links-food {
	background-color: #ec8579;
	border-right: 1px solid rgba(174,91,82,.30);
}

.item-overlay-food {
	background-color: #ec8579;
}



/*===============================================================================================*/

.board-title-lifestyle {
	background-color: #6cb636;
}

.item-header-lifestyle {
	/*background-color: #6cb636;*/
	border-bottom: 1px solid rgba(77,139,32,.30);

	background-color: rgba(108,182,54,.7);
}

.item-links-lifestyle {
	background-color: #6cb636;
	border-right: 1px solid rgba(77,139,32,.30);
}

.item-overlay-lifestyle {
	background-color: #6cb636;
}

/*===============================================================================================*/

.board-title-fitness {
	background-color: #6488c6;
}

.item-header-fitness {
	/*background-color: #6488c6 ;*/
	border-bottom: 1px solid rgba(63,95,151,.30);

	background-color: rgba(100,136,198,.7); ;
}

.item-links-fitness {
	background-color: #6488c6;
	border-right: 1px solid rgba(63,95,151,.30);
}

.item-overlay-fitness {
	background-color: #6488c6;
}
/*===============================================================================================*/


.board-title-dummy1 {
	background-color: black;
}

.board-title-dummy2 {
	background-color: red;
}

.board-title-dummy2 {
	background-color: yellow;
}

.board-title-dummy3 {
	background-color: blue;
}

.board-title-dummy4 {
	background-color: green;
}

.board-title-dummy5 {
	background-color: deepskyblue;
}

.board-title-dummy6 {
	background-color: lightgreen;
}

.board-title-dummy7 {
	background-color: tomato;
}

.board-title-dummy8 {
	background-color: grey;
}