$mandala-size: 620px;

section{
  overflow: hidden;
}

#mandala{
  height: 780px;
  // overflow: hidden;
  margin-bottom: 100px;

  &.active{
    $active-mandala-size: ($mandala-size + 300);

    #orbitals{
      width: $active-mandala-size;
      // Adjust the margin to keep the mandala-box stationary
      margin: -110px 40px 0 40px;

      // And increase the padding around it
      #orbit4{
        padding: 165px;
      }

      &:hover{
        #planets a{
          -webkit-animation-play-state: paused;
        }
      }
    }

    // #planets a{
    //   @include box-shadow(rgba(0,0,0,0.20) 0px 0px 0px 2px);
    // }

    #orbit4{
      @include background(image-url('orbitals.png'),
                          inline-image('warhol.png'));
      background-size: cover;
    } 

    #lines{
      @include background(image-url('orbitals.png'));
      background-size: cover;
      // -webkit-animation: rotate 10s linear infinite;
      width: $mandala-size;
      height: $mandala-size;
    }

    #mandala-box{
      img{
        opacity: 0.7;
      }
    }

    #mandala-sections{
      display: inline;
    }

  }

}

// Don't show some elements during transitions for performance
.transition-hidden{
  display: none;
}

// Transitions with varying starting points
// for the planets
@include keyframes-rotate(0deg);
@include keyframes-rotate(100deg);
@include keyframes-rotate(200deg);
@include keyframes-rotate(300deg);

#orbitals{
  width: $mandala-size;
  margin: 40px 190px 0 190px;

  @include transition-property(margin);
  @include transition-duration(2s);

  div.orbit{
    border: 1px solid #e4e4e4;
    @include border-radius(1000px);
    padding: 50px;
    position: inherit;
    margin: 0;
    width: auto !important;
    height: auto;
    box-sizing: content-box;
    float: left;
  }

  #orbit1{
    overflow: hidden;
    position: auto;
  }

  #orbit4{
    @include background(
      linear-gradient(rgba(0,0,0,0.13), rgba(255,255,255,0.13)));
    @include box-shadow(rgba(0,0,0,0.13) 0px 2px 0px 0px inset,
                        white 0 2px 0 0);
    @include transition-property(padding);
    // Trigger a 3d transform for gpu acceleration
    @include transform3d(0);
    @include transition-duration(2s);
    padding: 15px;
  }

  #orbit5{
    width: ($mandala-size - 330px) !important;
    height: ($mandala-size - 330px);
    padding: 0;
    border: 0;
    background-color: #323232;
    @include background-image(
      linear-gradient(rgba(0,0,0,0.23), rgba(255,255,255,0.23)));
    // @include background(#323232,
    //   image-url('labyrinth.png'),
    //   linear-gradient(rgba(0,0,0,0.23), rgba(255,255,255,0.23)));
    @include box-shadow(rgba(0,0,0,0.59) 0px 1px 3px 2px inset);
  }

  #planets{
    // Planets start hidden until mandala finishes expanding
    // reasons include reduced logic complexity and better performance
    display: none;

    a{
      @include border-radius(20px);
      position: absolute;
      display: block;
      -webkit-animation-play-state: running;
    }
    #planet-knowledge{
      width: 20px;
      height: 20px;
      background-color: rgba(243,193,42,0.8);
      margin: 75px;
      @include transform-origin(338px, 338px);
      -webkit-animation: rotate-0deg 16s linear infinite;
    }
    #planet-energy{
      width: 20px;
      height: 20px;
      background-color: rgba(242,121,107,0.8);
      margin: 112px;
      @include transform-origin(301px, 301px);
      -webkit-animation: rotate-100deg 22s linear infinite;
    }
    #planet-movement{
      width: 20px;
      height: 20px;
      background-color: rgba(52,103,192,0.8);
      margin: 112px;
      @include transform-origin(301px, 301px);
      -webkit-animation: rotate-300deg 14s linear infinite;
    }
    #planet-reflection{
      width: 20px;
      height: 20px;
      background-color: rgba(105,174,55,0.8);
      margin: 149px;
      @include transform-origin(264px, 264px);
      -webkit-animation: rotate-200deg 18s linear infinite;
    }
  }

}

$outer-orbital-size: 620px;
$mandala-box-size: 290px;

#mandala-center{
  width: $outer-orbital-size;
  height: $outer-orbital-size;
  margin: 132px 193px;
  position: absolute;
  top: 0;
  pointer-events: none;

  #mandala-box{
    pointer-events: all;
    width: $mandala-box-size;
    height: $mandala-box-size;
    background-color: #2d2c2b;
    display: block;
    margin: 165px;
    @include border-radius($mandala-box-size);
    // border: 1px solid #7b3e22;
    @include box-shadow(rgba(0,0,0,0.59) 0px 1px 0px 5px inset);

    &:hover{
      @include box-shadow(rgba(183, 133, 0, 0.77) 0px 0px 20px 10px inset);
    }

    img{
      opacity: 0.7;

      @include border-radius($mandala-box-size);
    }

    span{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 100%;
      height: 100%;
      text-transform: uppercase;
      width: inherit;
      height: inherit;
      position: absolute;
      margin-top: -170px;
      text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
      color: white !important;
      font-size: 24px;
      font-weight: bold;
      // starts out hidden
      opacity: 0;
    }
  }
}

#mandala-sections{
  width: $outer-orbital-size;
  height: $outer-orbital-size;
  // margin-top: -$outer-orbital-size;
  margin: 132px 190px;
  position: absolute;
  top: 0;
  display: none;
  pointer-events: none;

  a{
    width: inherit;
    height: inherit;
  }

  > div{
    position: absolute;
    width: 162px;
    height: 162px;
    background-color: rgba(0,0,0,0.25);
    pointer-events: all;
    @include border-radius(85px);
    @include box-shadow(rgba(0,0,0,0.30) 0px 1px 2px 1px inset,
                        rgba(255,255,255,0.20) 0px 1px 0px 0px);

    div.background{
      width: 134px;
      height: 134px;
      position: absolute;
      margin: 14px;
      @include border-radius(80px);
      @include box-shadow(rgba(0,0,0,0.15) 0px 2px 5px 5px,
                          rgba(255,255,255,0.20) 0px 1px 0px 0px inset);

      &:hover{
        -webkit-animation: pulse 1s linear infinite;

        + div small{
          // display: inline-block;
        }
      }
    }
  }

  div.align{
    width: inherit;
    height: inherit;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.25);
    color: white;
    font-size: 16px;
    font-weight: bold;
    pointer-events: none;
    padding-top: 20px;

    small{
      display: inline-block;
      // display: none;
    }
    
    span{
      display: inline-block;
      margin-top: 4px; 
    }
  }
  #section-knowledge{
    top: 27px;
    left: 27px;
    div.background{
      background-color: #f3c12a
    }
  }
  #section-energy{
    top: 27px;
    right: 27px;
    div.background{
      background-color: #f2796b
    }
  }
  #section-reflection{
    right: 27px;
    bottom: 27px;
    div.background{
      background-color: #69ae37
    }
    div.align{
      font-size:13px;
      padding-top:3px
    }
  }
  #section-movement{
    bottom: 27px;
    left: 27px;
    div.background{
      background-color: #3467c0
    }
  }
}

h2{
  margin-bottom: 45px !important;
  font-size: 24px;
  color: $bodyFontColor; 
  text-align: center;
}

#register-call-to-action{
  display: block;
  margin-bottom: 45px;

  span{
    display: inline-block;
    margin: 0 10px -2px 0;
  }
}

#sub-nav{
  margin: -40px auto 50px;
  // height: 90px;
  text-align: center;

  span{
    display: none;

    &.active{
      display: auto;
    }
  }

  #nav-default{
    display: block;
    h3{
      font-size: 20px !important;
    }
  }

  a{
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;

    &:last-child{
      margin-right: 0;
    }
  }
}