@mixin keyframes-rotate($start:0deg){
  @-webkit-keyframes rotate-#{$start} {
    0% {
      -webkit-transform: rotate($start) translateZ(0);
    }
    100% {
      -webkit-transform: rotate($start+360) translateZ(0);
    }
  }
}

@-webkit-keyframes pulse {
  0% {
    width: 134px;
    height: 134px;
    margin: 14px;
  }
  50%{
    width: 154px;
    height: 154px;
    margin: 4px;
  }
  100%{
    width: 134px;
    height: 134px;
    margin: 13px;
  }
}