/* line 1, ../sass/collection.scss */
body.collection {
  background-color: black;
}

/* line 5, ../sass/collection.scss */
iframe {
  width: 960px;
  height: 660px;
  border: 0;
  margin: auto;
  display: block;
}
