{% load media %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Simply Centered{% endblock %}</title>

    {% include_media 'main.css' %}
    {% include_media 'libraries.js' %}

    {% block headExtra %}{% endblock %}

</head>
<body>
  <div id="site-container wrapper">
    {% include 'main/partial/_header.html' %}
    {% block aside %}{% endblock %}
    {% block content %}{% endblock %}
    {% include 'main/partial/_footer.html' %}
    {% include 'main/partial/_social.html' %}
    {% include 'main/partial/_popups.html' %}
  </div>
</body>
</html>
