{% extends 'main/_base.html' %}

{% load media %}

{% block headExtra %}
  {% include_media 'board.css' %}
  {% include_media 'board.js' %}
{% endblock %}

{% block content %}
<section id="board-container">

  <!-- BOARD HEADER ============================================================-->
  <div class="row board-title-{{ category.root_category.slug }}" id="board-header">
    <div id="board-breadcumb" class="breadcumb-{{ category.root_category.slug }}">
      {% for parent in category.parent_categories %}
      <a href="{% url board parent.slug %}">{{ parent.name }}</a>
      {% endfor %}
    </div>
    <h1 id="board-title">{{ category.name }}</h1>
  </div>

  <!-- BOARD CONTENT1 ==========================================================-->
  {% if category.has_subcategories %}
  <div class="row content">
    <ul class="board-items">
      <!-- item 1 -->
      <li class="board-item board-item-link small">
        <div class="item-rate">
          <ul>
            <li><a href="#" class="rate rate1" data-rate="1">&nbsp;</a></li>
            <li><a href="#" class="rate rate2" data-rate="2">&nbsp;</a></li>
            <li><a href="#" class="rate rate3" data-rate="3">&nbsp;</a></li>
            <li><a href="#" class="rate rate4" data-rate="4">&nbsp;</a></li>
            <li><a href="#" class="rate rate5" data-rate="5">&nbsp;</a></li>
          </ul>
        </div>
        <div class="item-overlay item-overlay-{{ category.root_category.slug }}"></div>
        <div class="item-featured-link">
          <img class="item-featured-link-icon" src="{% media_url 'img/featured-link-icon.png' %}">
          <a href="{{ data.0.Link }}">{{ data.0.Title }}</a>
        </div>
        <img class="item-img" src="{{ data.0.thumbnails.140x300 }}">
      </li>
      <!-- subcategory 1 -->
      <li class="board-item large">
        <div class="item-rate">
          <ul>
            <li><a href="#" class="rate rate1" data-rate="1">&nbsp;</a></li>
            <li><a href="#" class="rate rate2" data-rate="2">&nbsp;</a></li>
            <li><a href="#" class="rate rate3" data-rate="3">&nbsp;</a></li>
            <li><a href="#" class="rate rate4" data-rate="4">&nbsp;</a></li>
            <li><a href="#" class="rate rate5" data-rate="5">&nbsp;</a></li>
          </ul>
        </div>
        <div class="item-nav">
          <h2 class="item-nav-header item-header-{{ category.root_category.slug }}">
            <a href='{% url board category.subcategories.0.slug %}'>
              {{ category.subcategories.0.name }}
            </a>
          </h2>
          <ul class="item-nav-links">
            <li>
              <a href="#" class="item-nav-link-articles item-links-{{ category.root_category.slug }}">Articles</a>
            </li>
            <li>
              <a href="#" class="item-nav-link-videos item-links-{{ category.root_category.slug }}">Videos</a>
            </li>
            <li>
              <a href="#" class="item-nav-link-shop item-links-{{ category.root_category.slug }}">Shop</a>
            </li>
          </ul>
        </div>
        <a href='{% url board category.subcategories.0.slug %}'>
          <img class="item-img" src="{% if category.subcategories.0.background %} {{ category.subcategories.0.background.url }}{% endif %}">
        </a>
      </li>
      <!-- subcategory 2 -->
      <li class="board-item large">
        <div class="item-rate">
          <ul>
            <li><a href="#" class="rate rate1" data-rate="1">&nbsp;</a></li>
            <li><a href="#" class="rate rate2" data-rate="2">&nbsp;</a></li>
            <li><a href="#" class="rate rate3" data-rate="3">&nbsp;</a></li>
            <li><a href="#" class="rate rate4" data-rate="4">&nbsp;</a></li>
            <li><a href="#" class="rate rate5" data-rate="5">&nbsp;</a></li>
          </ul>
        </div>
        <div class="item-nav">
          <h2 class="item-nav-header item-header-{{ category.root_category.slug }}">
            <a href='{% url board category.subcategories.1.slug %}'>
              {{ category.subcategories.1.name }}
            </a>
          </h2>
          <ul class="item-nav-links">
            <li>
              <a href="#" class="item-nav-link-articles item-links-{{ category.root_category.slug }}">Articles</a>
            </li>
            <li>
              <a href="#" class="item-nav-link-videos item-links-{{ category.root_category.slug }}">Videos</a>
            </li>
            <li>
              <a href="#" class="item-nav-link-shop item-links-{{ category.root_category.slug }}">Shop</a>
            </li>
          </ul>
        </div>
        <a href='{% url board category.subcategories.1.slug %}'>
          <img class="item-img" src="{% if category.subcategories.1.background %} {{ category.subcategories.1.background.url }}{% endif %}">
        </a>
      </li>
      <!-- item 2 -->
      <li class="board-item board-item-link small">
        <div class="item-rate">
          <ul>
            <li><a href="#" class="rate rate1" data-rate="1">&nbsp;</a></li>
            <li><a href="#" class="rate rate2" data-rate="2">&nbsp;</a></li>
            <li><a href="#" class="rate rate3" data-rate="3">&nbsp;</a></li>
            <li><a href="#" class="rate rate4" data-rate="4">&nbsp;</a></li>
            <li><a href="#" class="rate rate5" data-rate="5">&nbsp;</a></li>
          </ul>
        </div>
        <div class="item-overlay item-overlay-{{ category.root_category.slug }}"></div>
        <div class="item-featured-link">
          <img class="item-featured-link-icon" src="{% media_url 'img/featured-link-icon.png' %}">
          <a href="{{ data.1.Link }}">{{ data.1.Title }}</a>
        </div>
        <img class="item-img" src="{{ data.1.thumbnails.140x300 }}">
      </li>
    </ul>
  </div>
  {% endif %}

  <!-- BOARD CONTENT2 ===========================================================-->
  <div class="row content">
    <ul class="board-items">
      <!-- 3 item -->
      <li class="board-item board-item-link small">
        <div class="item-rate">
          <ul>
            <li><a href="#" class="rate rate1" data-rate="1">&nbsp;</a></li>
            <li><a href="#" class="rate rate2" data-rate="2">&nbsp;</a></li>
            <li><a href="#" class="rate rate3" data-rate="3">&nbsp;</a></li>
            <li><a href="#" class="rate rate4" data-rate="4">&nbsp;</a></li>
            <li><a href="#" class="rate rate5" data-rate="5">&nbsp;</a></li>
          </ul>
        </div>
        <div class="item-overlay item-overlay-{{ category.root_category.slug }}"></div>
        <div class="item-featured-link">
          <img class="item-featured-link-icon" src="{% media_url 'img/featured-link-icon.png' %}">
          <a href="{{ data.2.Link }}">{{ data.2.Title }}</a>
        </div>
        <img class="item-img" src="{{ data.2.thumbnails.140x300 }}">
      </li>
      <!-- 4 item -->
      <li class="board-item board-item-link large">
        <div class="item-rate">
          <ul>
            <li><a href="#" class="rate rate1" data-rate="1">&nbsp;</a></li>
            <li><a href="#" class="rate rate2" data-rate="2">&nbsp;</a></li>
            <li><a href="#" class="rate rate3" data-rate="3">&nbsp;</a></li>
            <li><a href="#" class="rate rate4" data-rate="4">&nbsp;</a></li>
            <li><a href="#" class="rate rate5" data-rate="5">&nbsp;</a></li>
          </ul>
        </div>
        <div class="item-overlay item-overlay-{{ category.root_category.slug }}"></div>
        <div class="item-featured-link">
          <img class="item-featured-link-icon" src="{% media_url 'img/featured-link-icon.png' %}">
          <a href="{{ data.3.Link }}">{{ data.3.Title }}</a>
        </div>
        <img class="item-img" src="{{ data.3.thumbnails.300x300 }}">
      </li>
      <!-- 5 item -->
      <li class="board-item board-item-link large">
        <div class="item-rate">
          <ul>
            <li><a href="#" class="rate rate1" data-rate="1">&nbsp;</a></li>
            <li><a href="#" class="rate rate2" data-rate="2">&nbsp;</a></li>
            <li><a href="#" class="rate rate3" data-rate="3">&nbsp;</a></li>
            <li><a href="#" class="rate rate4" data-rate="4">&nbsp;</a></li>
            <li><a href="#" class="rate rate5" data-rate="5">&nbsp;</a></li>
          </ul>
        </div>
        <div class="item-overlay item-overlay-{{ category.root_category.slug }}"></div>
        <div class="item-featured-link">
          <img class="item-featured-link-icon" src="{% media_url 'img/featured-link-icon.png' %}">
          <a href="{{ data.4.Link }}">{{ data.4.Title }}</a>
        </div>
        <img class="item-img" src="{{ data.4.thumbnails.300x300 }}">
      </li>
      <!-- 6 item -->
      <li class="board-item board-item-link small">
        <div class="item-rate">
          <ul>
            <li><a href="#" class="rate rate1" data-rate="1">&nbsp;</a></li>
            <li><a href="#" class="rate rate2" data-rate="2">&nbsp;</a></li>
            <li><a href="#" class="rate rate3" data-rate="3">&nbsp;</a></li>
            <li><a href="#" class="rate rate4" data-rate="4">&nbsp;</a></li>
            <li><a href="#" class="rate rate5" data-rate="5">&nbsp;</a></li>
          </ul>
        </div>
        <div class="item-overlay item-overlay-{{ category.root_category.slug }}"></div>
        <div class="item-featured-link">
          <img class="item-featured-link-icon" src="{% media_url 'img/featured-link-icon.png' %}">
          <a href="{{ data.5.Link }}">{{ data.5.Title }}</a>
        </div>
        <img class="item-img" src="{{ data.5.thumbnails.140x300 }}">
      </li>
    </ul>
  </div>
</section>
{% endblock %}