{% extends 'main/base.html' %}

{% load media %}

{% block headExtra %}
  {% include_media 'board.css' %}
  {% include_media 'board.js' %}
{% endblock %}

{% block content %}
<section id="board-container">

  <!-- BOARD HEADER ============================================================-->
  <div class="row board-title-{{ category.root.slug }}" id="board-header">
    <div id="board-breadcumb" class="breadcumb-{{ category.root.slug }}">
      {% for parent in category.parent_categories %}
      <a href="{{ parent.full_url }}">{{ parent.name }}</a>
      {% endfor %}
    </div>
    <h1 id="board-title">{{ category.name }}</h1>
  </div>

  <!-- LEFT SIDE ==========================================================-->
  <div class="side-column">
    {% if category.skyscraper_mode %}
    <div class="skyscraper-row content">
      <ul class="board-items">
        {% if category.promotion_set.count >= 1 %}
          <!-- promotion 1 -->
          {% include 'main/partial/_board_promotion_item.html' with item=category.promotion_set.all.0 %}
        {% else %}
          <!-- item -->
          {% include 'main/partial/_board_skyscraper_item.html' with item=data.next %}
        {% endif %}
      </ul>
    </div>
    {% else %}
    <div class="row content">
      <ul class="board-items">
        {% if category.promotion_set.count >= 1 %}
          <!-- promotion 1 -->
          {% include 'main/partial/_board_promotion_item.html' with item=category.promotion_set.all.0 %}
        {% else %}
          <!-- item -->
          {% include 'main/partial/_board_small_item.html' with item=data.next %}
        {% endif %}
      </ul>
    </div>
    <div class="row content">
      <ul class="board-items">
        {% if category.promotion_set.count >= 2 %}
        <!-- promotion 2 -->
          {% include 'main/partial/_board_promotion_item.html' with item=category.promotion_set.all.1 %}
        {% else %}
          <!-- item -->
          {% include 'main/partial/_board_small_item.html' with item=data.next %}
        {% endif %}
      </ul>
    </div>
    {% endif %}
  </div>    

  <!-- CENTER ==========================================================-->
  <div class="center-column">
    <div class="row content">
      <ul class="board-items">
        {% if category.sub_menu.count >= 1 %}
          <!-- subcategory 1 -->
          {% include 'main/partial/_board_category_item.html' with item=category.sub_menu.0 %}
        {% else %}
          <!-- item -->
          {% include 'main/partial/_board_large_item.html' with item=data.next %}
        {% endif %}

        {% if category.sub_menu.count >= 2 %}
          <!-- subcategory 2 -->
          {% include 'main/partial/_board_category_item.html' with item=category.sub_menu.1 %}
        {% else %}
          <!-- item -->
          {% include 'main/partial/_board_large_item.html' with item=data.next %}
        {% endif %}
      </ul>
    </div>
    <div class="row content">
      <ul class="board-items">
        {% if category.sub_menu.count >= 3 %}
          <!-- subcategory 3 -->
          {% include 'main/partial/_board_category_item.html' with item=category.sub_menu.2 %}
        {% else %}
          <!-- item -->
          {% include 'main/partial/_board_large_item.html' with item=data.next %}
        {% endif %}

        {% if category.sub_menu.count >= 4 %}
          <!-- subcategory 4 -->
          {% include 'main/partial/_board_category_item.html' with item=category.sub_menu.3 %}
        {% else %}
          <!-- item -->
          {% include 'main/partial/_board_large_item.html' with item=data.next %}
        {% endif %}
      </ul>
    </div>
  </div>

  <!-- RIGHT SIDE ==========================================================-->
  <div class="side-column last">
    {% if category.skyscraper_mode %}
    <div class="skyscraper-row content">
      <ul class="board-items">
        {% if category.promotion_set.count >= 2 %}
          <!-- promotion 2 -->
          {% include 'main/partial/_board_promotion_item.html' with item=category.promotion_set.all.1 %}
        {% else %}
          <!-- item -->
          {% include 'main/partial/_board_skyscraper_item.html' with item=data.next %}
        {% endif %}
      </ul>
    </div>
    {% else %}
    <div class="row content">
      <ul class="board-items">
        {% if category.promotion_set.count >= 3 %}
          <!-- promotion 3 -->
          {% include 'main/partial/_board_promotion_item.html' with item=category.promotion_set.all.2 %}
        {% else %}
          <!-- item -->
          {% include 'main/partial/_board_small_item.html' with item=data.next %}
        {% endif %}
      </ul>
    </div>
    <div class="row content">
      <ul class="board-items">
        {% if category.promotion_set.count >= 4 %}
          <!-- promotion 4 -->
          {% include 'main/partial/_board_promotion_item.html' with item=category.promotion_set.all.3 %}
        {% else %}
          <!-- item -->
          {% include 'main/partial/_board_small_item.html' with item=data.next %}
        {% endif %}
      </ul>
    </div>
    {% endif %}
  </div>
  <div class=clear></div>
</section>
{% endblock %}