{% extends 'main/_base.html' %}

{% load media %}

{% block headExtra %}
  {% include_media 'index.css' %}
  {% include_media 'index.js' %}
{% endblock %}

{% block content %}
<section id="facet-container">
  <div id="mandala">
    <ul>
      {% for category in categories %}
      {% for sub_category in category.subcategories %}
      <li onclick="location.href='{% url board sub_category.slug %}';" class="pie-{{ category.slug }}" data-facet="#facet-{{ category.slug }}"><a href="{% url board sub_category.slug %}">{{ sub_category.name }}</a></li>
      {% endfor %}
      {% endfor %}
    </ul>
  </div>

  <div id="mandala-border"></div>
  <div id="mandala-bg"></div>

  <div id="carousel-bg">
    <h1 class="carousel-heading">Simply Centered</h1>
    <div>
      <div id="carousel-shadow"></div>
      <img class="carousel-img" src="{% media_url 'img/carousel-4.jpg' %}">
      <h2 class="carousel-subheading">"Healthy Living Fall"</h2>
    </div>
  </div>

  {% for category in categories %}
  <div id="facet-{{ category.slug }}" class="facet-btn" data-pie=".pie-{{ category.slug }}" onclick="location.href='{% url board category.slug %}';">
    <a href="{% url board category.slug %}">{{ category.name }}</a>
    <img class="icon-big" src="{% media_url category.facet_icon %}">
  </div>
  <div id="facet-{{ category.slug }}-shadow" class="facet-shadow"></div>
  {% endfor %}

  <div id="twitter-stream">
    <a href="https://twitter.com/simplycentered" id="follow-btn"></a>
    <ul id="tweets">
      <li>
        We just write new article! Check this out <a href="#">http://sc.ly/HlSmR</a>
      </li>
      <li>
        We’re featured on <a href="#">http://www.bbc.com</a>  website yesterday!
      </li>
      <li>
        <a href="#">@Mark</a> yes you can visit our site and check the fitness category for more stuff!”
      </li>
    </ul>
  </div>
</section>
{% endblock %}