{% extends 'main/base.html' %}

{% load media %}

{% block headExtra %}
  {% include_media 'index.css' %}
  {% include_media 'index.js' %}
{% endblock %}

{% block content %}
<section id="facet-container">
  <div id="mandala">
    <ul>
      {% for category in menu %}
      {% for sub_category in category.sub_menu_2 %}
      <li onclick="location.href='{{ category.full_url }}';" class="pie-{{ category.slug }}" data-facet="#facet-{{ category.slug }}"><a href="{{ sub_category.full_url }}">{{ sub_category.name }}</a></li>
      {% endfor %}
      {% endfor %}
    </ul>
    <div id="carousel" class="carousel-bg">
      <h1 class="carousel-heading">Simply Centered</h1>
      <div id="carousel-1">
        <div id="carousel-shadow"></div>
        <img class="carousel-img" src="{% media_url 'img/carousel-1.jpg' %}">
        <h2 class="carousel-subheading">"Healthy Living Fall!"</h2>
      </div>
      <div id="carousel-2">
        <div id="carousel-shadow"></div>
        <img class="carousel-img" src="{% media_url 'img/carousel-2.jpg' %}">
        <h2 class="carousel-subheading">"Healthy Living Fall!"</h2>
      </div>
      <div id="carousel-3">
        <div id="carousel-shadow"></div>
        <img class="carousel-img" src="{% media_url 'img/carousel-3.jpg' %}">
        <h2 class="carousel-subheading">"Healthy Living Fall!"</h2>
      </div>
      <div id="carousel-4">
        <div id="carousel-shadow"></div>
        <img class="carousel-img" src="{% media_url 'img/carousel-4.jpg' %}">
        <h2 class="carousel-subheading">"Healthy Living Fall!"</h2>
      </div>
      <div id="carousel-nav">
        <a href="#" id="carousel-nav-1" data-carousel="1"></a>
        <a href="#" id="carousel-nav-2" data-carousel="2"></a>
        <a href="#" id="carousel-nav-3" data-carousel="3"></a>
        <a href="#" id="carousel-nav-4" data-carousel="4"></a>
      </div>
    </div>
  </div>

  <div id="mandala-border"></div>
  <div id="mandala-bg"></div>

  <div id="carousel-bg">
    <h1 class="carousel-heading">Simply Centered</h1>
    <div>
      <div id="carousel-shadow"></div>
      <img class="carousel-img" src="{% media_url 'img/carousel-4.jpg' %}">
      <h2 class="carousel-subheading">"Healthy Living Fall"</h2>
    </div>
  </div>

  {% for category in menu %}
  <div id="facet-{{ category.slug }}" class="facet-btn" data-pie=".pie-{{ category.slug }}" onclick="location.href='{{ category.full_url }}';">
    <a href="{{ category.full_url }}">{{ category.name }}</a>
    <img class="icon-big" src="{% media_url category.facet_icon %}">
  </div>
  <div id="facet-{{ category.slug }}-shadow" class="facet-shadow"></div>
  {% endfor %}
</section>
<section id="lnav">
  <section id="lnav-cont">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="#facet-process">Our Process</a></li>
      <li><a href="#site-who">Trusted Sources</a></li>
      <li><a href="#facet-integrity">Integrity Pledge</a></li>
      <li><a href="#site-about">About Us</a></li>
    </ul>
  </section>
  <section id="lnav-line">
    <div class="horz"></div>
    <div class="horz1"></div>
    <div class="horz2"></div>
    <div class="horz3"></div>
    <div class="horz4"></div>
    <div class="horz5"></div>
  </section>
</section>

<div id="learnmore">
  <div class="content-wrapper">Learn More
  <div><a href="#"><img src="img/learnmore.png" alt=""></a></div>
  </div>
</div>

<section id="site-twitter">
  <div id="twitter-stream">
    <div class="circle-sb"></div>
    <ul id="tweets">
      <li>
        "<a href="#">@Mark</a> yes you can visit our site and check the fitness category for more stuff!”
      </li>
    </ul>
    <a href="#" id="follow-btn"></a>
  </div>
</section>

<section id="facet-process">
  <div class="content-wrapper">

    <div id="fig-process">
      <section id="lleft">
         <div class="ver"></div>
         <div class="hor"></div>
         <div class="ver a"></div>
         <div class="circ a"></div>
      </section>


      <section id="lright">
         <div class="ver"></div>
         <div class="hor"></div>
         <div class="ver a"></div>
         <div class="circ b"></div>
      </section>

      <section id="lcenter">
         <div class="ver"></div>
         <div class="circ c"></div>
      </section>

      <section id="lcenter2">
         <div class="ver"></div>
         <div class="circ c"></div>
      </section>

      <section id="lcenterbig">
        <div class="ver"></div>
        <div class="circ c"></div>
      </section>
    </div>

    <h1>OUR PROCESS</h1>
    
    <p>SimplyCentered.com provides access to the knowledge and means to lead a Health and Well-being centered life. We organize the information and resources you need to make better lifestyle choices. We connect visitors to ‘trusted sources’ committed to providing information, products, services, and art that enhance <span class="bered">Health and Well-being.</span><br><br>

    It is your electronic tool-kit, using the most advanced technology, to achieve balance of body, mind, and spirit, simply.  <span class="bered">Trusted Sources</span> are resources committed to contributing to a positive impact on society, the environment, and consumer Health and Well-being. 
    </p>
    
    <h3>What Guide Us</h3>

    <p>SimplyCentered.com only links you to resources that meet the SC5Cs. The SC5Cs require that all Companies and Certifications be: <strong>Simply...</strong></p>

    <ul>
      <li><strong>Commited</strong>  to Natural Alternative Solutions that improve Health & Well-being</li>
      <li><strong>Caring</strong>  towards the earth and its inhabitants</li>
      <li><strong>Candid</strong>  with their companys processes</li>
      <li><strong>Conscious</strong> of their impact on the world</li>
      <li><strong>Centered</strong> on producing products with Integrity and Quality</li>
    </ul>

</div>
</section>

<section id="site-who">
  <div class="ver"></div>
  <div id="sonar"></div>
  <div id="sonar2"></div>
  
  <div class="content-wrapper">
    
    
    <h1 class="head1">Who are trusted Sources ?</h1>
    <p>SimplyCentered.com uses the <strong>SC5Cs</strong> to scan and filter existing third-party certification agencies. Companies who are granted any of these certifications can be linked to SimplyCentered.com.</p>
  </div>
</section>

<section id="facet-integrity">
  <div class="content-wrapper">

    <div id="fig-integrity">
      <div class="incircle"></div>
      <div class="inver"></div>
      
      <div class="inver2"></div>
      <div class="inver3"></div>

      <div class="inver4"></div>
      <div class="inver5"></div>

      <div class="inver6"></div>
      <div class="inver7"></div>

      <div class="inver8"></div>
      <div class="inver9"></div>



    </div>

    <h1 class="head1">SC Integrity Pledge</h1>
    
    <p>If a Company does not hold a certification from one of the SC5C filtered agencies, it can participate in the portal by agreeing to the SimplyCentered.com <strong class="bered">Integrity Pledge.</strong></p>
    
    <h3 class="underl">Become a trusted source</h3>
    
    <p>Our experts have identified a list of existing certifications that comply with the <strong class="bered">SC5Cs</strong>. If a company holds one of these following certifications, it will automatically qualify as a <strong class="bered">Trusted Source</strong>. We expect this list to continue to grow as the world embraces more ethical solutions for healthy living, so if you do not find a certification on the SimplyCentered.com list, please send it our way for review and verification<br><br>

    <span>If you find a company that is misrepresenting itself or should not be a Trusted Source, we want to hear about it via our on-line review. We at SimplyCentered.com hold ourselves responsible for maintaining an open dialogue about corporate responsibility to consumers, to our society and to the planet.</span>
    </p>

  </div>
</section>

<section id="site-about">
  <div class="content-wrapper">

    <div id="fig-about">
         <div class="vver"></div>
         <div class="vver2"></div>
         <div class="vver3"></div>
         <div class="vcircle"></div>
    </div>

    <h1 class="head1">About Us</h1>
    <div class="person-first">
      <div class="circle"></div>
      <h3 class="underl crew">Elaine Gavalas</h3>
      <p>Title - Principal, Co-founder, and Publishing Lead</p>
    </div>
    <div class="person-second">
      <div class="circle"></div>
      <h3 class="underl crew">Debra Apruzzese</h3>
      <p>Principal, Founder, and Business Lead</p>
    </div>
    <div class="person-third">
      <div class="circle"></div>
      <h3 class="underl crew">Stuart Katz</h3>
      <p>Principal, Founder, and Business Lead</p>
    </div>
    <div class="person-fourth">
      <div class="circle"></div>
      <h3 class="underl crew">Billy Mcfarland</h3>
      <p>Spling CEO, Technology Advisor</p>
    </div>
    <div class="person-fifth">
      
      <h3 class="underl crew">Advisory Team</h3>
      <p>In addition, Simply Centered is guided by an extensive advisory team comprising leading experts in their respective fields of finance, legal, marketing, and human resources.</p>
    </div>
  </div>
</section>

<section id="tooltip">
  <div class="tooltip first">
    <div class="pinched"></div>
    <p>
      Principal, Founder, and Business Lead, was raised in a Mediterranean household where living simply and organically was the way of life. Maintaining health and well-being while balancing family, a full-time career, and volunteerism led to her commitment to natural alternative solutions. An accomplished Fortune 500 business executive, Debra has worked across multiple global industries providing leadership in strategic and operational activities. Debra is married and has two daughters; she holds an Engineering degree from Bucknell University. She is passionate about bringing awareness to natural paths to healthy living and well-being.
    </p>
  </div>
  <div class="tooltip second">
    <div class="pinched"></div>
    <p>
      Principal, Co-founder, and Publishing Lead, is a health expert, acclaimed author, and popular speaker. Elaine is an exercise physiologist, sports nutritionist, yoga therapist and weight management specialist, and received her Master's degree and Certification from Columbia University. Elaine’s researched based approach to healthy living knowledge is anchored by her postgraduate medical studies at Columbia University and California College of Podiatric Medicine.
    </p>
  </div>
</section>
{% endblock %}