
	/*BASE*/

a{
	text-decoration: none;
	color: #384a65;
}

li{
	list-style: none;
}

/*************************************************************************************************\

\*************************************************************************************************/

#aside{
	position: absolute;
	top: 120px;
}

	#aside h4{
		padding-left: 38px;
		text-decoration: underline;
	}

	#aside ul li{
		margin: 5px 0;
		font-size: 14px;
	}


/*************************************************************************************************\

\*************************************************************************************************/

/*Add Wasil*/
#board-container {
	width: 882px;
	margin: 30px auto;
	margin-bottom: 100px;
}

#board-container .row {
	display: block;
	width: 100%;
	margin: 0 0 12px 0;
	padding: 0;
}

#board-container .row.content {
	height: 300px;
}

/*************************************************************************************************\

\*************************************************************************************************/

#board-header {
	position: relative;
	text-align: center;
	height: 42px;
	margin: 0;
	padding: 0;

	border-radius: 3px;

}

/*Add Wasil*/

#board-title {
	font-family: "Futura", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: .1em;	
	line-height: 42px;
	color: #fff;
	display: inline;

	text-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
}

/*===============================================================================================*/

/*Add Wasil*/

#board-breadcumb {
	position: absolute;
	left: 17px;
	font-family: 'Cabin';
	font-size: 13px;

	letter-spacing: .05em;
	line-height: 42px;
	display: inline;
}

#board-breadcumb a:after {
	content: " >";
}

#board-breadcumb a:link, #board-breadcumb a:visited {
	/*color: #d86e3d; */
	color: #fff;
}

#board-breadcumb a:hover, #board-breadcumb a:active {
	color: #fff;
}



#board-breadcumb2 {
	position: absolute;
	left: 90px;
	font-family: 'Cabin';
	font-size: 13px;

	letter-spacing: .05em;
	line-height: 42px;
	display: inline;
}


#board-breadcumb2 a:link, #board-breadcumb2 a:visited {
	/*color: #d86e3d; */
	color: #fff;
}

#board-breadcumb2 a:hover, #board-breadcumb2 a:active {
	color: #fff;
}



/*************************************************************************************************\

\*************************************************************************************************/

.board-items {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.board-item {
	position: relative;
	text-align: center;
	display: block;
	float: left;
	height: 100%;
	margin: 0 10px 0 0;
	padding: 0;
	background-color: #cecece;
	overflow: hidden;

	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .3);
	border-radius: 2px;
}

.board-item:last-child {
	margin: 0;
}

.board-items:last-child {
	margin: 0;
}

.board-item.small {
	width: 142px;
}


/*Add Wasil*/
.board-item.large {
	/*width: 323px;*/
	width: 284px;
}

/*===============================================================================================*/

.item-img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

/*===============================================================================================*/

.item-nav {
	position: absolute;
	bottom: 0;
	text-align: left;
	z-index: 2;
}

/*Add Wasil*/

.item-nav-header {
	font-family: 'Cabin', sans-serif;
	font-size: 12px;
	font-weight: 200;
	letter-spacing: .05em;	
	color: white;	
	line-height: 32px;
	margin: 0 0 0 0;
	padding: 0 0 0 10px;
	height: 32px;
	/*background-color: #eebb22;*/
	background-color:  rgba(56,74,101,.7);
	border-bottom: 1px solid rgba(128,100,18,.30);
}

/*===============================================================================================*/

.item-nav-links {
	/*text-align: center;*/
	margin: 0;
	padding: 0;
	list-style: none;

	opacity: 0.9;
}

.item-nav-links li {
	display: inline-block;
	float: left;
}


/*Add Wasil*/
.item-nav-links li a {
	font-family: 'Cabin', sans-serif;
	font-size: 12px;
	font-weight: 200;
	letter-spacing: .08em;
	display: block;
	line-height: 32px;
	height: 32px;
	background-color: #263142;
	padding: 0 10px;

	width: 122px;

}

.small .item-nav-links li a {
	width: 51px;
}

.item-nav-link-price{
	text-align: right;
	color: #000;
}


.item-nav-links li a:link, .item-nav-links li a:visited {
	color: #000; color: #fff;
}

.item-nav-links li a:hover, .item-nav-links li a:active {
	color: #fff;
}

/*===============================================================================================*/

/*.item-nav-link-articles{
	padding-left: 0px;
	background: red;
}*/




/*
.item-nav-link-articles {
	background-image: url(http://7gportal.s3.amazonaws.com/img/item-articles-hover-dedfdcbc628d00e2b2d78c4ff0afbcdd178e8c3a.png);
	background-repeat: no-repeat;
	background-position: 22px 8px;
	text-indent: 18px;
	
	background-position: 15px 8px;
	text-indent: 20px;
}

.item-nav-link-videos {
	background-image: url(http://7gportal.s3.amazonaws.com/img/item-movies-hover-381d4cc31b2e9c0b9e0892301057f116d9402caa.png);
	background-repeat: no-repeat;
	background-position: 22px 8px;
	text-indent: 18px;

	background-position: 15px 8px;
	text-indent: 20px;
}

.item-nav-link-shop {
	background-image: url(http://7gportal.s3.amazonaws.com/img/item-shop-hover-4dbaf4bfc5ab7512f0e583155b6726e4e6a81918.png);
	background-repeat: no-repeat;
	background-position: 22px 8px;
	text-indent: 18px;

	background-position: 15px 8px;
	text-indent: 20px;
	
}

.item-nav-link-articles:hover, .item-nav-link-articles:active {
	background-image: url(http://7gportal.s3.amazonaws.com/img/item-articles-8701a0dd28ccbecd6351bdca50bc56fb9fee05ba.png);
}

.item-nav-link-videos:hover, .item-nav-link-videos:active {
	background-image: url(http://7gportal.s3.amazonaws.com/img/item-movies-604a97fc2c0a94a39c3b20a34aca3d772cbda510.png);
}

.item-nav-link-shop:hover, .item-nav-link-shop:active {
	background-image: url(http://7gportal.s3.amazonaws.com/img/item-shop-38c0ac90e153f29b06521dbcd138d54660428eef.png);
}*/

/*===============================================================================================*/


/*************************************************************************************************\

\*************************************************************************************************/

.board-shop {
	background-color: #384a65;
	/*width: 1082px;*/
}



/*************************************************************************************************\

\*************************************************************************************************/

	/*Social Btn Aside*/

	/*include in sytle.css*/


